.Backgroundcu{
    background-color: #2d3741;
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 1.25rem;
    font-family: "CORE";
    color: #fff;
    overflow-x: hidden;
    overflow-y: hidden;
}





.ContainerCU{
    margin-top: 100px;
    width: 100%;
    /* min-width:  ; */
    
}
.NameDateVerifiedRow{
    height: 100px;
background: var(--Card-Flat, #384450);
display: flex;
justify-content: space-around;
align-items: center;
}

.ShieldVerifyCol{
    display: flex;
    align-items: center;
    gap: 0.9rem;
}

.ImgTitleDesc{
    display: flex;
    justify-content: flex-start;
    margin-left: 15%;
    /* align-items: center; */
    margin-top: 3rem;
    gap: 5%;
}

.ImgStylingCU{
    width: 20rem;
    height: 20rem;
    border-radius: 40px 40px 25px 25px;
}

.DescColumn{

}

.BlueTextCU{
    margin-left: 0.5rem;
    color: #5dd3b3;
}

.FooterCU{
    margin-top: 10%;
}

@media (max-width: 620px) {

    .Backgroundcu{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .ImgTitleDesc{
        flex-direction: column;
        margin-left: 4%;
        
    }
}