.zidyiaforgotpass-parent{
    background-color: #2D3741;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'CORE';
}
.zidyiaforgotpass-header,.zidyiaforgotpass-paragone{
  color:white;
}
.zidyiaforgotpass-paragone{
    position: relative;
bottom: 10px;
}
.zidyiaforgotpass-header,.zidyiaforgotpass-paragone{
    text-align: center;
}
.zidyiaforgotpass-contentandform{
   
    margin-top: 200px;
    background-color: #3a424a;
    border:3px solid #5DD3B3;
    width:30%;
    border-radius: 15px;
    padding: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.zidyiaforgotpass-frogotform{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.zidyiaforgotpass-input{
    width:100%;
    border: 1px solid #ddd;
    background-color:#2D3741;
    border-radius: 1.5635rem;
    height: 40px;
    outline:none;
    color:rgb(203, 195, 195);
}
.zidyiaforgotpass-input::placeholder{
    color:rgb(203, 195, 195);
    padding: 10px;
}
.zidyiaforgotpass{
    width:50%;
    height: 2.125rem;
    background-color: #5DD3B3;
    border-radius: 1.5635rem;
    border: 0px;
    color:white;
    padding: 10px;
    margin: 0 auto;
}


@media (max-width:650px) {

    .zidyiaforgotpass-contentandform{
        width:70%;
    }
    .zidyiaforgotpass-paragone{
        font-size: 13px;
      }
    }