.zidyiaresetpass-parent{
    background-color: #2D3741;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'CORE';
}
.zidyiaresetpass-header,.zidyiaresetpass-paragone{
  color:white;
}
.zidyiaresetpass-paragone{
    position: relative;
bottom: 10px;
}
.zidyiaresetpass-header,
    .zidyiaresetpass-paragone{
    text-align: center;
}
.zidyiaresetpass-contentandform{
   
    margin-top: 200px;
    background-color: #3a424a;
 width:30%;
    border-radius: 15px;
    border:3px solid #5DD3B3;
    padding: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.zidyiaresetpass-frogotform{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.zidyiaresetpass-input{
    width:100%;
    border: 1px solid #ddd;
    background-color:#2D3741;
    border-radius: 1.5635rem;
    height: 40px;
    outline:none;
    color:rgb(203, 195, 195);
}
.zidyiaresetpass-input::placeholder{
    color:rgb(203, 195, 195);
    padding: 10px;
}
.zidyiaresetpass{
    width:50%;
    height: 2.125rem;
    background-color: #5DD3B3;
    border-radius: 1.5635rem;
    border: 0px;
    color:white;
    padding: 10px;
    margin: 0 auto;
}


@media (max-width:650px) {

    .zidyiaresetpass-contentandform{
        width:70%;
    }
   .zidyiaresetpass-paragone{
    font-size: 13px;
      }
    }