.landpage{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    overflow: hidden;
    overflow-x: hidden;
    }
    .landpage2{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 5%;
        overflow: hidden;
        }
    
    .box1{
        width: 790px;
        height: 820px;
        background-image: url('../../images/certificate.png');
        position: absolute;
        animation: anim 1.5s forwards, anim2 2s forwards 2s;
        bottom: -100%;
        left: 30%;
    }

    .box5{
        width: 790px;
        height: 820px;
        background-image: url('../../images/certificate.png');
        position: absolute;
        bottom: -30px;
        left: 600px;
    }

    .box5::after{
        content:'';
        position: absolute;
        width: 790px;
        height: 820px;
        background-image: url('../../images/certificate.png');
        z-index: -1;
    }
    
    .box1::after{
        content:'';
        position: absolute;
        width: 790px;
        height: 820px;
        background-image: url('../../images/certificate.png');
        z-index: -1;
    }
    
    @keyframes anim{
        from{
            bottom: -100%;
        }
        to{
            bottom: -30px;
        }
    }
    @keyframes anim2{
        from{
            left: 30%;
            width: 790px;
        }
        to{
            width: 0;
            left: 600px;
        }
    }
    .box2{
        width: 100%;
        height: auto;
        font-family: 'Core-Bold';
        color:#323F4E;
        font-size: 6em;
        font-weight: 500;
        line-height: 100px;
        position: absolute;
        top: 150px;
        left: 130px;
        overflow: hidden;
    }
    .box6{
        width: 100%;
        height: auto;
        font-family: 'Core-Bold';
        color:#323F4E;
        font-size: 6em;
        font-weight: 500;
        line-height: 100px;
        position: absolute;
        top: 150px;
        left: 130px;
        overflow: hidden;
    }
    .landpage-subheading2{
        position: relative;
        font-size: 30px;
        left: -0%;
        
        bottom: 30px;

    }
    .landpage-text2{
        position: relative;
        left: -0%;
        bottom: -20px;
    }
    .landpage-text2 span{
        color: #5DD3B3;
    }
    .landpage-btn-container2 button{
        position: relative;
        left: -0%;
        bottom: 100px;
        font-size: 30px;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        color: white;
        background: #5DD3B3;
        border-radius: 8px;
        padding: 10px;
    }

    .landpage-subheading{
        position: relative;
        font-size: 30px;
        left: -100%;
        
        bottom: 30px;
        animation: anim3 1.5s forwards 2.3s; 

    }
    .landpage-text{
        position: relative;
        left: -100%;
        bottom: -20px;
        animation: anim3 1.5s forwards 2s; 
    }
    .landpage-text span{
        color: #5DD3B3;
    }
    .landpage-btn-container button{
        position: relative;
        left: -100%;
        bottom: 100px;
        font-size: 30px;
        background-color: transparent;
        border: transparent;
        cursor: pointer;
        animation: anim3 1.5s forwards 2.5s; 
        color: white;
        background: #5DD3B3;
        border-radius: 8px;
        padding: 10px;
    }
    
    .landpage-btn-container button:nth-child(2){
       margin-left: 30px;
    }
    @keyframes anim3{
        from{
            left:-100%;
        }
        to{
            left: 0%;
        }
    }
     @media screen and (max-width:650px) {
        .box2{
            font-size: 3.5em;
            line-height: 70px;
            left: 30px;
        }
        
        .landpage-btn-container button{
            bottom: 50px;
        }
        .landpage-subheading{
            font-size: 20px;
            bottom: 5px;
        }

        .box1{
           display: none;

        }

        .box6{
            font-size: 3.5em;
            line-height: 70px;
            left: 30px;
        }
        
        .landpage-btn-container2 button{
            bottom: 50px;
        }
        .landpage-subheading2{
            font-size: 20px;
            bottom: 5px;
        }

        .box5{
           display: none;

        }
        
     }

     .aboutus-section{
        transform: translateY(750px);
        display: grid;
        justify-content: center;
        text-align: center;
        padding-bottom: 150px;
        padding-top: 150px;
        overflow: hidden;
        background-color: #2D3741;
     }
     .first-aboutus-section{
        transform: translateY(750px);
        display: grid;
        justify-content: center;
        text-align: center;
        padding-bottom: 70px;
        padding-top: 70px;
        overflow: hidden;
        background-color: #2D3741;
     }
     .aboutus-section2{
        transform: translateY(750px);
        display: grid;
        justify-content: center;
        text-align: center;
        padding-bottom: 100px;
        padding-top: 150px;
        overflow: hidden;
     }

     

     .first-aboutus-section h3{
        font-family: "Core";
        color: #b0b2b7;
        margin-bottom: 0;
        margin-top: 0;
     }

     .first-aboutus-section h1{
        font-family: "Core-Heavy";
        color: white;
        font-size: 40px;
        margin-top: 20;
        margin-bottom: 50px;
     }
     .aboutus-section-content{
        display: flex;
        padding-left: 100px;
        align-items: flex-start;
     }
     .aboutus-section-content2{
        display: flex;
        padding-right: 100px;
        align-items: flex-start;
     }
     
     .aboutus-section-content img{
        height: 400px;
        width: 500px;
        transform: translateX(-100px);
        border-radius: 15px;

     }
     .aboutus-section-content2 img{
        height: 400px;
        width: 500px;
        transform: translateX(100px);
        border-radius: 15px;
     }
     .aboutus-section-content-right{
        text-align: start;
     }
     .aboutus-section-content2-left{
        text-align: start;
     }
     .aboutus-section-content2-left h1{
        color: #5DD3B3;
        font-size: 45px;
     }
     .aboutus-section-content2-left{
        font-size: larger;
        font-family: 'Core-Bold';
        color:#2D3741;
     }
     .aboutus-section-content-right h1{
        color: #5DD3B3;
        font-size: 45px;
     }
     .aboutus-section-content-right{
        font-size: larger;
        font-family: 'Core-Bold';
        color:white;
     }
     .aboutus-section-content-right li{
        margin-bottom: 40px;
        list-style: none;
        width: 100%;
     }
     .aboutus-section-content2-left li{
        margin-bottom: 40px;
        list-style: none;
        width: 100%;
     }
     .aboutus-section-content2-left li svg{
        color: #5DD3B3;
        margin-right: 20px;
        font-size: larger;
     }
     .aboutus-section-content-right li svg{
        color: #5DD3B3;
        margin-right: 20px;
        font-size: larger;
     }

     @media screen and (max-width:700px) {
        
        .aboutus-section-content{
            flex-direction: column;
            padding: 0;
            width: 100%;
        }
        .aboutus-section-content img{
            width: 110%;
            transform: translateX(0px) !important;
            height: 300px;
            width: 350px;
            align-self: center;
        }
        .aboutus-section-content-right{
            padding-left: 20px;
            transform: translateX(0) !important;

        }
        .first-aboutus-section h1{
            font-size: 30px;
        }
        .aboutus-section-content2{
            flex-direction:column;
            padding: 0;
            width: 100%;
        }
        .aboutus-section-content2 img{
            width: 110%;
            transform: translateX(0px);
            height: 300px;
            width: 350px;
            align-self: center;
        }
        .aboutus-section-content2-left{
            padding-left: 20px;
        }
        
        .aboutus-section2{
            padding-top: 100px;
        }
     }